In [ ]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:password@host/yelp')

In [ ]:
query = """
    SELECT business_id, text
    FROM yelp_review
    LIMIT 100000 OFFSET {};
"""

results = []
chunk_size = 100000
offset = 0

while True:
    df = pd.read_sql(query.format(offset), con=engine)
    if df.empty:
        break
    df['romantic_mentions'] = df['text'].str.contains('romantic').astype(int)
    df['date_mentions'] = df['text'].str.contains('date').astype(int)
    df['cozy_mentions'] = df['text'].str.contains('cozy').astype(int)
    
    agg = df.groupby('business_id')[['romantic_mentions', 'date_mentions', 'cozy_mentions']].sum().reset_index()
    results.append(agg)
    offset += chunk_size

final_result = pd.concat(results)
final_result.to_sql('yelp_review_mentions', con=engine, if_exists='replace', index=False)

## Find romantic and date in 5kk reviews