In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Replace with your database connection details
user = 'root'
password = 'password'
host = 'host'
port = '3306'
database_name = 'yelp'

# Create a database connection
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database_name}')

In [ ]:
# SQL query
query = """
SELECT business_id,
       name, city, state, latitude, longitude, stars, review_count,
       (romantic_mentions + date_mentions + cozy_mentions + romantic_tips) AS romance_score,
       stars * (romantic_mentions + romantic_tips) / (review_count + 1) AS final_score,
       schedule
FROM final_table
WHERE (romantic_mentions + date_mentions + cozy_mentions + romantic_tips) > 0
ORDER BY final_score DESC;
"""

try:
    # Execute the query and create a DataFrame
    df = pd.read_sql_query(query, engine)

    # Save the DataFrame to a CSV file
    output_file = 'romantic_restaurants.csv'
    df.to_csv(output_file, index=False)
    print(f"Results saved to {output_file}")

except Exception as e:
    print(f"An error occurred: {e}")